@using System.Text.RegularExpressions;
@model IEnumerable<Model_UN_Crisis.Models.STG_News>

@{
    Layout = "~/Views/Shared/_LayoutSideNav.cshtml";
    var userRole = Context.Session.GetString("userRole");
    var newsList = Model.ToList();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Viewing Message</title>
</head>

<div class="header">
    <h1>Viewing Message</h1>
</div>

<div class="hero">
</div>
<div class="content">
    <div class="columns">
        <div class="card">
            @foreach (var news in newsList)
            {
                if ((int)ViewData["newsId"] == news.Inews_Id)
                {
                    string pattern = @"\[(.*?)\]";
                    string body = "";
                    body = news.Ctext;
                    MatchCollection matches = Regex.Matches(body, pattern);
                    string content = "";
                    foreach (Match match in matches)
                    {
                        content = match.Groups[1].Value;
                        body = body.Replace(match.Value, "");
                    }
                    <h2>@(content)</h2>
                    <h3 style="font-weight: normal;">@(body)</h3>
                }
            }
        </div>
    </div>
</div>
</div>




<style>
    * {
        box-sizing: border-box;
    }
    body{
        background-color: #eee;
    }
    .hero {
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        font-family: "Helvetica Now Display", helvetica, sans-serif;
    }

    .header h1 {
        padding-left: 40px;
        font-size: 3rem;
        font-weight: 300;
    }

    .header button {
        margin-left: 40px;
        background-color: #076CED;
        color: #fdfdfd;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        padding: 15px 32px;
        border-radius: 5px;
        opacity: 0.8;
        transition: 0.3s;
        cursor: pointer;
    }

        .header button:hover {
            opacity: 1
        }

    .hero p {
        font-size: 14px;
    }

    .content .columns h3 {
        margin-top: 0;
    }

    .content {
        background-color: #f0f0f0;
        padding: 2rem;
        max-width: 1850px;
        margin: 0 auto;
    }

    .card {
        border-radius: 8px;
        padding: 1rem;
        background-color: #fdfdfd;
        min-width: 1300px;
        max-width: 1300px;
    }

        .card p {
            word-wrap: break-word;
        }

    .columns {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }

        .columns > * {
            flex-basis: calc(calc(600px - 100%) * 42069);
            flex-grow: 1;
        }

</style>