@{
    Layout = "~/Views/Shared/_LayoutSideNav.cshtml";
}

<head>
    <meta charset="utf-8">
    <title>Help Page</title>
</head>

<div class="header">
    <h1>Help Page</h1>
</div>

<div class="hero">
</div>
<div class="content">
    <div class="columns">
        <div class="card">
            <h3>Information</h3>
            <p>@("Model UN Crisis Software Simulation refers to a type of software or platform designed to simulate crisis scenarios within the context of a Model United Nations (MUN) conference. In a Model UN conference, participants (typically students) represent various countries or stakeholders and engage in debates and negotiations on global issues, following the format and procedures of the United Nations. In traditional Model UN committees, delegates discuss topics from a predetermined agenda in a structured manner.However, in crisis committees, the simulation is more dynamic and fast - paced.Crisis committees simulate fictional or historical scenarios, often involving unexpected events or crises, such as political upheavals, natural disasters, or military conflicts.")</p>
            <br />
            <p>@("Please navigate to the message hub if you wish to send a message to other users and start a chat with other people. If you wish to see the news that was added to the conference, please refer to the news hub page and browse around. If you are an Admin, feel free to post news updates that Delegates cans see. Navigate to the Directives screen to post a directive if you are a Delegate and if you are an Admin please make changes to the directives a Delegate has made to Approve, or Deny it. Lastly you can navigate to the settings page to change your email, username, or password and will be forced to log back in after.")</p>
            <br />
            <p>@("Enjoy!")</p>
        </div>
    </div>
</div>
</div>




<style>
    * {
        box-sizing: border-box;
    }
    body{
        background-color: #eee;
    }
    .hero {
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        font-family: "Helvetica Now Display", helvetica, sans-serif;
    }

    .header h1 {
        padding-left: 40px;
        font-size: 3rem;
        font-weight: 300;
    }

    .header button {
        margin-left: 40px;
        background-color: #076CED;
        color: #fdfdfd;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        padding: 15px 32px;
        border-radius: 5px;
        opacity: 0.8;
        transition: 0.3s;
        cursor: pointer;
    }

        .header button:hover {
            opacity: 1
        }

    .hero p {
        font-size: 14px;
    }

    .content .columns h3 {
        margin-top: 0;
    }

    .content {
        background-color: #f0f0f0;
        padding: 2rem;
        max-width: 1850px;
        margin: 0 auto;
    }

    .card {
        border-radius: 8px;
        padding: 1rem;
        background-color: #fdfdfd;
        min-width: 1300px;
        max-width: 1300px;
        height: 600px;
    }

    .card p {
        word-wrap: break-word;
    }

    .columns {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }

        .columns > * {
            flex-basis: calc(calc(600px - 100%) * 42069);
            flex-grow: 1;
        }

</style>