@{
    
}
<form action="#" method="#">
    <h2><b>Sign In</b></h2>
    <p>Welcome Back, Please Login <br>to Your Account.</br></p>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Sign In</button>
    <div class="a-tag">
        <a href="#">Create Account</a>
    </div>
</form> 



<style>
    form {
        border: 3px solid #f1f1f1;
    }

    form h2{
        text-align: center;
            color: #FF4433;
    }
    form p{
        text-align: center;
    }
    .a-tag{
        text-align: center;
    }


     input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    

    button {
        background-color: #076CED;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        opacity: 0.8;
    }


    

</style>