@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-left">
        <h1 class="display-4"><b>Organize, Prepare, and Run Crisis Simulations</b></h1>
        <p>Try it Out!</p>
        <button>Sign Up</button>
    </div>

    <div class="picture-right">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg" alt="software demo" />
    </div>
</div>
